{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block title %}Création Lieu{% endblock %}

{% block body %}

    <h1>Créer un nouveau Lieu de sortie</h1>

    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button>Créer Lieu</button>
    {{ form_end(lieuForm) }}


{% endblock %}