{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}


{% block body %}
   <img class="backImageHome" alt="" src="{{ asset('img/sortie.png') }}"/>

   {% if(app.user) %}
   <h1 class="msgBienvenue">Ravi de te revoir <strong>{{ app.user.prenom }} !</strong></h1>
   {% endif %}

{% endblock %}
