{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}


{% block body %}
   <div class="test-wp">
      {# <img alt="image de fete" class="image-accueil" src="{{ asset('img/sortie.png') }}"/> #}
   </div>
{% endblock %}
