label {
    display: block;
    margin-left: 1rem;
}

input, textarea, select, button {
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-sizing: border-box;
    max-width: 50%;
    width: 150px;
}

body {
    background: #dfdfdf;
}

.main-header {
    display: block;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 20px;
}


