*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DDDDDD;

}

.image-accueil {

}

.test-wp {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background: url("/public/img/sortie.png");
}

input, textarea, select, button {
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-sizing: border-box;
    max-width: 50%;
    width: 150px;
}


.main-header {
    display: flex;
}

.boxLiens {
    display: flex;
    align-items: center;
    justify-content: center;

}
img {
    width: 100vw;

}

.msgBienvenue {
    margin: 50px;
    font-size: 30px;

}

ul  {
    position: relative;
    display: flex;
    flex-direction: raw;
    align-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;


}

li {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

li:hover {
    background-color: indianred;
    transition-duration: 0.3s;
    color: #FFFFFF;
}

ul li a {
    text-decoration: none;
    color: black;

}
ul li a:hover {
    color: #FFFFFF;
}

