label {
    display: block;
    margin-left: 1rem;
}

.image-accueil {

}

.test-wp {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background: url("/public/img/sortie.png");
}

input, textarea, select, button {
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-sizing: border-box;
    max-width: 50%;
    width: 150px;
}

body {
    background: #dfdfdf;
}

.main-header {
    display: block;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 20px;
}


