.pseudo
{
    height: 30px;
    width: 170px;
    border: 2px solid #333;
}

.nom
{
    height: 30px;
    width: 300px;
    border: 2px solid #333;
}

h1
{
    text-align: center;
}

.liste_participants
{
    overflow: scroll;
}

.form
{
    display: none;
}

.champ
{
    height: 40px;
    width: 250px;

}

.message
{
    text-align: center;
}

#motifAnnulation
{
    height: 30px;
    width: 300px;
}

body{
    color: royalblue;
    font-weight: bold;
    font-size: large;
}

.imageProfil {
    max-width: 300px;
    border-radius: 20px;
    border-color: royalblue;
    border-style: solid;
}

h3 {
    color:red;
}