.pseudo
{
    height: 30px;
    width: 170px;
    border: 2px solid #333;
}

.nom
{
    height: 30px;
    width: 300px;
    border: 2px solid #333;
}

h1
{
    text-align: center;
}

.liste_participants
{
    overflow: scroll;
}

button
{
    align-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 28px;
    width: content-box;

}

.form
{
    display: none;
}

.champ
{
    height: 40px;
    width: 250px;

}

.message
{
    text-align: center;
}

#motifAnnulation
{
    height: 30px;
    width: 300px;
}

body{
    color: royalblue;
    font-weight: bold;
    font-size: large;
}