.profil-informations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(1px, auto);

}

.form-title {
    grid-column: 1 / 4;
    grid-row: 1;
}

.imageProfil {
    max-width: 300px;
    border-radius: 20px;
    border-color: royalblue;
    border-style: solid;
}

h1 {
    text-align: center;
    color: royalblue;
}

body{
    color:royalblue;
}

@media all and (max-width: 950px) {
    .grandEcran {
        display: none
    }
}

