/* espacement */

.table-sorties {
    align-items: center;
    width: 80%;
    margin: 8%;
    border-radius: 8px;
}

.titre {
    padding: 3px;
    color: brown;
}

.afficheResultat {
    color : chocolate;
    text-align: center;
    font-size: 30px;
}


tbody tr:nth-child(odd) {
    background-color: rgb(49, 59, 217);
}

tbody tr:nth-child(even) {
    background-color: rgb(1, 74, 166);
}

tbody a {
    color: yellow;
}

.table {
    color : yellow;
}

@media all and (max-width: 2000px) and (min-width: 950px ) {
    #petitEcran{ display: none}
    #moyenEcran{ display: none}
}

@media all and (max-width: 950px) and (min-width: 600px ) {
    #petitEcran{ display: none}
    #grandEcran{ display: none}
}

@media all and (max-device-width: 600px) {
    #grandEcran{ display: none}
    #moyenEcran{ display: none}
}







