/* espacement */

.table-sorties {
    display: flex;
    align-items: center;
    width: 80%;
    border: 3px solid purple;
    margin: 8%;
    border-radius: 8px;
}

.titre {
    padding: 3px;
    color: darkkhaki;
}

tbody tr:nth-child(odd) {
    background-color: rgba(0, 15, 250, 0.5);
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 50, 150, 0.8);
}

.table {
    color : lawngreen;
}



