/* espacement */

.table-sorties {
    display: flex;
    float: right;
    width: 60%;
    border: 3px solid purple;
    margin-right: 30px;
    border-radius: 8px;
}

.titre {
    padding: 3px;
}

tbody tr:nth-child(odd) {
    background-color: rgba(0, 15, 250, 0.5);

}

tbody tr:nth-child(even) {
    background-color: rgba(0, 50, 150, 0.8);
}

tbody tr {

}

.table {

}



