{% extends 'base.html.twig' %}

        {% block body %}

                <p>Prenom : {{ app.user.prenom }}</p>
                <br>
                <p>nom : {{ app.user.nom }}</p>
                <br>
                <p>Email : {{ app.user.email }}</p>
                <br>

                <a href="{{ path("modifier_profil") }}">Mettre à jour ses informations</a>

        {% endblock %}