{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block title %}gestion-utilisateur{% endblock %}

{% block body %}


    <h1>Gestion Utilisateurs</h1>

    <ul>
        <li><a class="col-lg-1 col-md-1 col-sm-3" href="{{ path('admin_access') }}">Retour</a></li>

    </ul>



{% endblock %}