{% extends 'base.html.twig' %}

{% block title %}
    Gestion sortie
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}



{% block body %}
        <div>

            <h1>Annuler une sortie</h1>

            <br/><br/><br/>

            {{ form_start(annulationSortieForm) }}

                {{ form_widget(annulationSortieForm) }}

                <button>Annuler cette sortie</button>

            {{ form_end(annulationSortieForm) }}</div>
{% endblock %}

