{% extends 'base.html.twig' %}

{% block title %}
    Gestion sortie
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}



{% block body %}
        <div>

            {% if (creer) %}
                    <h1>Créer une sortie</h1>
                {# TODO : enlever la possibilité de modifier l'état ! #}
            {% endif %}

            <br/><br/><br/>


            {{ form_start(sortieForm) }}

            {{ form_widget(sortieForm) }}
                {% if (creer) %}
                    <button>Creer la sortie</button>
                {% endif %}
            {{ form_end(sortieForm) }}</div>
{% endblock %}

