{% extends 'base.html.twig' %}

{% block title %}
    Gestion sortie
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}



{% block body %}
        <div>

            <h1>Créer une sortie</h1>
                {# TODO : enlever la possibilité de modifier l'état ! #}

            <br/><br/><br/>


            {{ form_start(sortieForm) }}

            {{ form_widget(sortieForm) }}

                <button>Creer la sortie</button>

            {{ form_end(sortieForm) }}</div>
{% endblock %}

