{% extends 'base.html.twig' %}

{% block body %}
    <section>
        {% for sortie in sorties %}
        <p>
            <a href="" title="voir les détails">
                {{ sortie.nom }}
            </a>
        </p>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} | liste
{% endblock %}

