{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block title %}Suppression Ville{% endblock %}

{% block body %}

    <h1>Etes-vous sûr de vouloir supprimer cette ville ?</h1>

    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <button>Supprimer définitivement</button>
    {{ form_end(villeForm) }}





{% endblock %}