<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortie.com{% endblock %}</title>
        <link rel="stylesheet" href="{{  asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{  asset('css/app.css') }}">
        {% block stylesheets %}

        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
